# Dependency directories
node_modules/
jspm_packages/

# TypeScript compiled files
dist/
build/
out/

# Coverage directory used by tools like Istanbul
coverage/

# Playwright's test output
test-results/
playwright-report/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.cache
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp
*~

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
actions-runner/bin/clrjit.dll
actions-runner/bin/coreclr.dll
actions-runner/bin/hostfxr.dll
actions-runner/bin/hostpolicy.dll
actions-runner/bin/Microsoft.Win32.Primitives.dll
actions-runner/bin/netstandard.dll
actions-runner/bin/Newtonsoft.Json.dll
actions-runner/bin/Runner.Common.dll
actions-runner/bin/Runner.Listener.dll
actions-runner/bin/Runner.Listener.exe
actions-runner/bin/Runner.Sdk.dll
actions-runner/bin/Sdk.dll
actions-runner/bin/System.Collections.Concurrent.dll
actions-runner/bin/System.Collections.dll
actions-runner/bin/System.Collections.NonGeneric.dll
actions-runner/bin/System.Collections.Specialized.dll
actions-runner/bin/System.ComponentModel.dll
actions-runner/bin/System.ComponentModel.Primitives.dll
actions-runner/bin/System.ComponentModel.TypeConverter.dll
actions-runner/bin/System.Console.dll
actions-runner/bin/System.Data.Common.dll
actions-runner/bin/System.Diagnostics.DiagnosticSource.dll
actions-runner/bin/System.Diagnostics.Process.dll
actions-runner/bin/System.Diagnostics.TextWriterTraceListener.dll
actions-runner/bin/System.Diagnostics.TraceSource.dll
actions-runner/bin/System.Diagnostics.Tracing.dll
actions-runner/bin/System.IO.FileSystem.Watcher.dll
actions-runner/bin/System.IO.Pipes.dll
actions-runner/bin/System.Linq.dll
actions-runner/bin/System.Linq.Expressions.dll
actions-runner/bin/System.Memory.dll
actions-runner/bin/System.Net.Http.dll
actions-runner/bin/System.Net.Http.Formatting.dll
actions-runner/bin/System.Net.NameResolution.dll
actions-runner/bin/System.Net.Primitives.dll
actions-runner/bin/System.Net.Requests.dll
actions-runner/bin/System.Net.Security.dll
actions-runner/bin/System.Net.ServicePoint.dll
actions-runner/bin/System.Net.Sockets.dll
actions-runner/bin/System.ObjectModel.dll
actions-runner/bin/System.Private.CoreLib.dll
actions-runner/bin/System.Private.DataContractSerialization.dll
actions-runner/bin/System.Private.Uri.dll
actions-runner/bin/System.Private.Xml.dll
actions-runner/bin/System.Reflection.Emit.ILGeneration.dll
actions-runner/bin/System.Reflection.Emit.Lightweight.dll
actions-runner/bin/System.Reflection.Primitives.dll
actions-runner/bin/System.Runtime.dll
actions-runner/bin/System.Runtime.InteropServices.dll
actions-runner/bin/System.Runtime.InteropServices.RuntimeInformation.dll
actions-runner/bin/System.Runtime.Loader.dll
actions-runner/bin/System.Runtime.Numerics.dll
actions-runner/bin/System.Runtime.Serialization.Formatters.dll
actions-runner/bin/System.Runtime.Serialization.Json.dll
actions-runner/bin/System.Runtime.Serialization.Primitives.dll
actions-runner/bin/System.Runtime.Serialization.Xml.dll
actions-runner/bin/System.Security.Claims.dll
actions-runner/bin/System.Security.Cryptography.Algorithms.dll
actions-runner/bin/System.Security.Cryptography.Encoding.dll
actions-runner/bin/System.Security.Cryptography.Primitives.dll
actions-runner/bin/System.Security.Cryptography.ProtectedData.dll
actions-runner/bin/System.Security.Cryptography.X509Certificates.dll
actions-runner/bin/System.Security.Principal.Windows.dll
actions-runner/bin/System.Text.Encoding.CodePages.dll
actions-runner/bin/System.Text.Encoding.Extensions.dll
actions-runner/bin/System.Text.RegularExpressions.dll
actions-runner/bin/System.Threading.Channels.dll
actions-runner/bin/System.Threading.dll
actions-runner/bin/System.Threading.Overlapped.dll
actions-runner/bin/System.Threading.ThreadPool.dll
actions-runner/bin/System.Xml.ReaderWriter.dll
actions-runner/bin/ucrtbase.dll
